{%extends 'base.html'%}

{%block title_block%}
<title>todo all</title>

{%endblock%}

{%block main_block%}
<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 class="fw-bold">History</h3>
            <div class="text-center text-primary fw-bold">
                {{request.user}}
            </div>

           {%for t in data%}
           <div class="card mb-2">
            <div class="card-body">
               <div class="row">
                <div class="col-2"></div>
                <div class="col-6 d-flex justify-content-center">
                    {{t.title}}
                    {{t.user}}
                    {{t.status}}
                </div>
                <div class="col-4 d-flex justify-content-evenly">
                        <a href="{%url 'todo-detail' t.id%}"><i class="fa-regular fa-eye" style="color: #000000;"></i></a>
                        <a href="{%url 'todo-update' t.id%}"><i class="fa-solid fa-pen-to-square fa-1x" style="color: #ffc400;"></i></a>
                        <a href="{%url 'todo-remove' t.id%}"><i class="fa-solid fa-trash fa-1x" style="color: #ff0000;"></i></a>

                </div>
               </div> 
               
            </div>
          </div>
           {%endfor%}
              
        </div>
        <div class="col-3"></div>
    </div>

</div>

{%endblock%}